<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Starter kit" />
    <title>Starter kit</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
